*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}
a,  a:hover{
    text-decoration: none;
 }
 
.signup_form input{
    margin-top:3%;
}
.custom_navbar{
    display:flex;
    color:black;
    background:white;
    padding:1%;
}
.custom_navbar .title{
    font-weight: bolder;
    color:black;
}
.first{
    margin-left: auto;
    display: block;
}
.custom_navbar .nav-item{
    margin-right: 2%;
    display: block;
    color:black;
}
.search_books_form{
    padding:2%;
}
.search_books_form input{
    margin:.5%;
}
.search_books_form .btn, .btn{
    background:yellow;
    color:black;
}
.search_books_form input[type=text]{
    background:transparent;
    border:yellow solid 2px;
}
.search_books_form input[type=text]:focus{
    background:white;
    border:yellow solid 2px;
}
.search_books_form input::placeholder{
    color:white;

}
.book{
    background:yellow;
    height:300px;
    width:200px;
    margin:2%;
    padding:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight:bold;
}
.books-row{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
.more_books_btn{
    text-align: center;
    width: 20%;
    margin: auto;
    display: block;
    background:black;
    color:yellow;
    margin:2% auto;
    
}
.more_books_btn:hover{
    color:yellow;
}
.background_pexel{
    height: 60vh;
    background-image:url(https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-flow:column;
    justify-content: center;
    color:white;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.contact_form_row{
    padding:3%;
}
.contact_form_row h3{
    font-weight: bolder;
}
.contact_form_row hr{
    width: 20%;
    border: 2px solid yellow;
}
.search_row{
    height: 40vh;
    background-image:url(https://images.pexels.com/photos/1560093/pexels-photo-1560093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-flow:column;
    justify-content: center;
    color:white;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.book-row{
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.book-row .book{
    height:400px;
    width:300px;
}
.review{
    background:rgb(229,229,229);
    padding:2%;
}
.review span{
    /* color:yellow; */
    font-weight: bold;
}