*{
    margin:0;
    padding:0;
}
a,  a:hover{
    text-decoration: none;
 }
 
.signup_form input{
    margin-top:3%;
}
.custom_navbar{
    display:flex;
    background:black;
    color:white;
    padding:1%;
}
.custom_navbar .title{
    font-weight: bolder;
    color:white;
}
.first{
    margin-left: auto;
    display: block;
}
.custom_navbar .nav-item{
    margin-right: 2%;
    display: block;
    color:white;
}
.search_books_form{
    padding:2%;
}
.search_books_form input{
    margin:.5%;
}
.search_books_form .btn{
    background:yellow;
    color:black;
}
.book{
    background:yellow;
    height:300px;
    width:200px;
    margin:2%;
    padding:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight:bold;
}
.books-row{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}