{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    {% endblock %}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Document</title>
    {% endif %}
    
</head>
<body>
    {% include 'navbar.html' %}
    {% block content%}
    {% endblock %}
</body>
</html>