{% extends 'base.html'%}
{% block content%}
<h2>Home Page</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if user %}
<h5>User: {{user}}</h5>
<a href="{{url_for('logout')}}"><button class="button">Logout</button></a>
{% else %}
<a href="{{url_for('login')}}"> <button class="btn"> Login in </button></a>
{% endif %}
<br>
<br>
<a href="{{url_for('display_books')}}"><button>See available books</button></a>
<br><br>
<form action="{{url_for('search_books')}}" method="POST">
    <input type="text" placeholder="Name of book" name="book">
    <input type="submit" value="Search for book">
</form>

{% endblock%}