{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('login')}}" method='POST' class="form-group">
                <input type="email" name="email" placeholder="Email" required class="form-control">
                <input type="password" name="password" placeholder="password" required class="form-control">
                <input type="submit" value="Login" class="btn">
            </form>
        </div>
    </div>
</div>
{% endblock%}